<a href="https://colab.research.google.com/github/alugunuri-harish/assignment-2/blob/master/ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#1
a = float(input("Enter First side:"))
b = float(input("Enter Second side:"))
c = float(input("Enter Third side:"))
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print("Area of Triangle=",area)

Enter First side:1
Enter Second side:2
Enter Third side:4
Area of Triangle= (1.5686119320691177e-16+2.5617376914898995j)

In [14]:
#2
s=input("Enter a string:")
if(s==s[::-1]):
    print("Given string {} is palindrome".format(s))
else:
    print("Given string {} is not palindrome".format(s))

Enter a string:rocky
Given string rocky is not palindrome

In [15]:
#3
year=int(input("Enter the year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("{} The entered year is leap year".format(year))
else:
    print("{} The entered year is not a leap year".format(year))

Enter the year:364544
364544 The entered year is leap year

In [16]:
#4
n=input("Enter a string : ")
print(n.replace(' ','-'))

Enter a string : "This program converts spaces into hyphen"
"This-program-converts-spaces-into-hyphen"

In [17]:
#5
Input = input("Enter the words:").split(",")
words = list(set(Input))
words.sort()
print("Unique words in sorted form:",str(words))

Enter the words:orange,white,red,cyan,green,magenta,cyan,pink,white
Unique words in sorted form: ['cyan', 'green', 'magenta', 'orange', 'pink', 'red', 'white']

In [18]:
#6
salary=int(input("Enter the salary : "))
if (salary>=0) and (salary<=250000):
    tax=(salary*0)
elif (salary>250000) and (salary<=500000):
    tax=(salary*0.05)
elif (salary>500000) and (salary<=750000):
    tax=(salary*0.1)
elif (salary>750000) and (salary<=1000000):
    tax=(salary*0.15)
elif (salary>1000000) and (salary<=1250000):
    tax=(salary*0.2)
elif (salary>1250000) and (salary<=1500000):
    tax=(salary*0.25)
else:
    tax=(salary*0.3)
print("Tax is : ",tax)

Enter the salary : 96000
Tax is :  0

In [19]:
#7
l=[11,33,50]
for i in l:
  print(i,end="")

113350

In [21]:
#8
seconds_per_minute = 60
seconds_per_hour = 3600
seconds_per_day = 86400
days = int(input("Enter no. of days"))
hours = int(input("Enter no. of hours"))
minutes = int(input("Enter no. of minutes"))
seconds = int(input("Enter no. of seconds"))
total_seconds = days*seconds_per_day
total_seconds = total_seconds+(hours*seconds_per_hour)
total_seconds = total_seconds+(minutes*seconds_per_minute)
total_seconds = total_seconds+seconds
print("Total seconds =",total_seconds)

Enter no. of days365
Enter no. of hours24
Enter no. of minutes60
Enter no. of seconds60
Total seconds = 31626060

In [22]:
#9
a=int(input("Enter the number of a:"))
b=int(input("Enter the number of b:"))
c=int(input("Enter the number of c:"))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e
print("The Sorted order is:",d,f,e)

Enter the number of a:55
Enter the number of b:2
Enter the number of c:262626
The Sorted order is: 2 55 262626

In [23]:
#10
year=int(input("Enter a year : "))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2020
Enter a month between 1 to 12 : 4
Enter a day between 1 to 31 : 15
The immediate successor is YYYY-MM-DD : 2020-4-16.

In [24]:
#11
list=[45,3,2,89,72,1,10,7]
n=1
for i in range(len(list)):
    n=n*list[i]
print(n)

121111200

In [25]:
#12
l=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

In [26]:
#13
Num_tuple = (5,6,8,3,9,1)
l = []
m = 1
for i in range(len(Num_tuple)):
    m = m*Num_tuple[i]
    l.append(m)
print(l)

[5, 30, 240, 720, 6480, 6480]

In [27]:
#14
number=input("Enter a number: ")
list=[]
for n in range(len(number)):
    list.append(number[n])
print(list)

Enter a number: 586932
['5', '8', '6', '9', '3', '2']

In [28]:
#15
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : alluarjun
ll

In [34]:
#6
def check(A, B): 
    if (A.find(B) == -1): 
        print("Output=0") 
    else: 
        print("Output=1")

In [35]:
A = input("Enter a binary string of length 10:")
B =input("Enter a binary string of length 5:")
check(A, B)

Enter a binary string of length 10:10:1010110010
Enter a binary string of length 5:5:10110
Output=0

In [36]:
def check(A, B): 
    if (A.find(B) == -1): 
        print("Output=0") 
    else: 
        print("Output=1")

In [37]:
A = input("Enter a binary string of length 10:")
B =input("Enter a binary string of length 5:")
check(A, B)

Enter a binary string of length 10:10:1110111011
Enter a binary string of length 5:5:10011
Output=0

In [38]:
#17
t=int(input("number of test case"))
for i in range(t):
  a,b,c=map(int,input("enter a b c").split())
  if a>b:
    d=a-b
  elif a<b:
    d=b-a
  if c==a or c==b:
    print("1")
  elif d==c:
    print("2")
  else:
    print("-1")

number of test case2
enter a b c5 3 2
2
enter a b c1 5 3
-1